ezdxf==1.4.3
matplotlib
numpy
pyserial==3.5
Shapely==2.1.2
svgpathtools==1.7.2
svgwrite==1.4.3
trimesh==4.10.1
scipy

# Raspberry Pi note:
# install lgpio with:
#   sudo apt install python3-lgpio

# Optional / heavy packages:
# open3d==0.18.0
# cadquery==2.7.0